.container{
  background-color: white;
  border-radius: 20px;
  margin-inline: 10px;
  display: flex;
  flex-direction: column;

  .head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    .title{
      display: flex;
      align-items: center;

      span{
        font-size: 1.5rem;
        font-weight: bold;
        color: #25A4DA;
      }

      video{
        width: 3rem;
        padding: 0px;
        margin: 0px;
      }
    }

    .close-button {
      font-size: 2rem;
      cursor: pointer;
      border-radius: 50%;
      transition: background 0.2s, color 0.2s;
      padding: 6px;
      margin-left: 10px;
      user-select: none;
      &:hover {
        background: #f0f0f0;
      }
      &:active {
        background: #cecece;
      }
    }
  }

  .body{
    padding-inline: 20px;
    margin-top: 10px;
    color: #25A4DA;

    .img-container{
      width: 100%;
      text-align: center;
      img{
        width: 50%;
        border-radius: 20px;
      }
    }


    h3{
      color: #2B7C82;
    }
  }

  .footer{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px;
  }

}

.fade-in{
  animation: fadeInUp 0.3s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
